.gradle/
build/
run/
run-data/
out/
*.iml
*.ipr
*.iws
.idea/
.vscode/

fabric/build/
fabric/run/
fabric/run-data/
neoforge/build/
neoforge/run/
neoforge/run-data/

NeoForge-26.1.x/
minecraft_client_26.1.2/
fabric-api-26.1.2/
mcmodsrepo/
fabric-api-26.2
.kilo/kilo.jsonc
